<div class="tile-container" ng-mouseover="startFlip($event)" ng-mouseleave="stopFlip($event)">
	<div class="tile-wrapper bg-error" ng-class="{'flipped-right': flippedRight || flippingRight, 'flipped-left': flippedLeft || flippingLeft}">
		<div class="tile front">
			<img ng-src="{{frontImg}}" class="img-fluid">
			<!--
			<h2 style="top: 0; position: absolute; text-align: center; padding-top: 20px">{{frontText}}</h2>
			-->
		</div>
		<div class="tile back bg-success">
			<h2>{{backText}}</h2>
		</div>
	</div>
</div>
